-# <チャット画面>
.main
  .main-header
    .main-header__message
      .main-header__message-group
        test
      .main-header__message-name
        Member：
        .main-header__message-name__list
          masa
    .main-header__edit
      .main-header__edit__btn
        = link_to "#", class:"edit__btn" do
          Edit


  .main-text
    .main-text__member
      .main-text__member__user
        masa 
      .main-text__member__date
        2020/02/25
    .main-text__title
      おはよう
    .main-text__member
      .main-text__member__user
        masa 
      .main-text__member__date
        2020/02/25
    .main-text__title
      おはよう

  .main-form
    = form_for [@group, @message] do |f|
      .comment-box
        = f.text_field :content, class: 'comment-box__text', placeholder: 'type a message' 
        = f.label :image,class: 'comment-box__image' do
          = icon('fas', 'image', class: 'icon')
          =f.file_field :image, class: 'hidden'
      = f.submit 'send', class: "main-btn"  
    

  